
/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #092274, #092274);
    background: linear-gradient(to right, #092274, #092274);
    color: white;
    position:relative;
    top: 0;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  