<h2>Sistema de citas</h2>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form #form="ngForm" autocomplete="off" (submit)="login(form)">
            <h1>Ingresar</h1>
            <!-- <div class="social-container">
                <img src="../../../assets/img/logo.jpeg" routerLink="/home" width="45px">
            </div> -->
            <span>Ingresa con tus credenciales</span>
            <input type="text" placeholder="Usuario" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required/>
            <input type="password" placeholder="Password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required/>
            <a href="#">Olvidaste tu password?</a>
            <button type="submit" [disabled]="form.invalid">Ingresar</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Bienvenido</h1>
                <p>Si no tienes cuenta puedes registrarte aquí!</p>
                <button class="ghost" (click)="irRegistro()">Registro</button>
            </div>
        </div>
    </div>
</div>

