<app-menu></app-menu>
<div class="m-3 p-3">
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Bienvenido a MEDICALPP</h1>
              <p class="lead">El sitio perfecto para administrar tu vida y la de tu familia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-2">
        <div class="card" style="width: 12.6rem;">
          <img src="../../../assets/img/salud1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Toma el control</h5>
            <a routerLink="/home" class="btn btn-primary">Más info</a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card" style="width: 14rem;">
          <img src="../../../assets/img/salud2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cuida tu salud</h5>
            <a routerLink="/home" class="btn btn-primary">Más info</a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card" style="width: 15.5rem;">
          <img src="../../../assets/img/salud3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proteje a los tuyos</h5>
            <a routerLink="/home" class="btn btn-primary">Más info</a>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>